@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 10px 20px;
    font-family: fira sans;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar button{
    background-color: white;
    color: #006A50;
    width: 116px;
    height: 52px;
    border-radius: 8px;
    border:2px solid #006A50;
    font-size: large;
    font-weight: 600;
}

/* BANNER */

.banner{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 55px;
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.banner-left h3{
    color: #0E0E0E;
    opacity: 70%;
}
.banner-left p{
    font-size: 56px;
    font-weight: bolder;
}

.banner-left button{
    width: 200px;
    height: 50px;
    background-color: #006A50;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #006A50;
}
.banner-right img{
    padding-top: 30px;
    padding-bottom: 40px;
}


/* Pillars */

.pillars{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 55px;
}
.pillar-lists{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
}
.bgc{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 10px;
}
.bgc p{
    color: silver;
}

/* Vision of future */

.vision-of-future{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 55px;
}
.vision-lists{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
}
.flex-button button{
    margin-top: 30px;
}
.vision-lists button{
    border-radius: 10px;
    width: 122px;
    height: 41px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border: none;
}
.Digital-Transformation{
    background-color: #99cedb;
    padding: 20px 20px;
}
.Digital-Transformation button{
    background-color: #5490F5;
}
.vision-lists .bgc p{
    color:black;
}
.Green-Energy{
    background-color: #92d9b8;
    padding: 20px 20px;
}
.Green-Energy button{
    background-color: #09A15C;
}
.Modern-Infrastructure{
    background-color: #ead59c;
    padding: 20px 20px;
}
.Modern-Infrastructure button{
    background-color: #FFC239;
}

/* RECENT NEWS */

.recent-news{
    margin-top: 60px;
    margin-right: 0px;
    margin-left: 40px;
}

.recent-news p{
    padding-top: 10px;
    opacity: 80%;
}
.recent-boxs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px;
}
.box1{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px 20px;
}
.box1right{
    flex-direction: column;
}
.box1left img{
    border-radius: 15px;
}
.date-time{
    display: flex;
    gap: 5px;
    margin: 0px 0px;
}
.box1right button{
    color: white;
    background-color: #006A50;
    border-radius: 5px;
    border-color: none;
    width: 139px;
    height: 48px;
    font-weight: bolder;
    font-size: large;
}
.box2{
    display: flex;
    justify-content: baseline;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px 20px;
}
.box2right img{
    border-radius: 15px;
}
.box2left button{
    color: white;
    background-color: #006A50;
    border-radius: 5px;
    border-color: none;
    width: 139px;
    height: 48px;
    font-weight: bolder;
    font-size: large;
}

/* DONATE_TODAY */

.donate-today{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 60px;
}

.opacity{
    opacity: 80%;
}
.taka-button{
    display: flex;
    justify-content: space-between;
}
.taka-button button{
    width: 240px;
    height: 128px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    font-weight: bolder;
    font-size: 40px;
    border:2px solid white;
}

#color{
    background-color: #92d9b8;
    border: 2px solid #92d9b8;
}
.input #input{
    width: 1032px;
    height: 44px;
    text-align: center;
    opacity: 80%;
    font-size: large;
}
#donate-done{
    background-color: #006A50;
    border: 2px solid #006A50;
    color: white;
    font-weight: 600;
    width: 151px;
    height: 56px;
    border-radius: 10px;
    font-size: larger;
}